.slick-list {
  position: relative;
  display: block;
  overflow: visible;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.875rem;
}

@media (min-width: 1200px) {
  body {
    font-size: 1.167vw;
  }
}

@media (min-width: 1600px) {
  body {
    font-size: 0.95vw;
  }
}

h1,
h2,
h3 {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
}

p {
  color: rgba(0, 0, 0, 0.6);
  text-align: left;
}

a {
  color: rgb(42, 100, 150);
}

a:hover,
a:focus {
  color: rgb(58, 138, 207);
  text-decoration: none;
}

ul {
  margin: 0;
}

h3#compulutions-header {
  text-align: center;
}

.text3d {
  color: rgb(255, 255, 255);
  font-weight: 900;
  font-family: 'Source Sans Pro', helvetica, arial, sans-serif;
  text-shadow: 0 1px 0 rgb(204, 204, 204), 0 2px 0 rgb(201, 201, 201), 0 3px 0 rgb(187, 187, 187), 0 4px 0 rgb(185, 185, 185), 0 5px 0 rgb(170, 170, 170), 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .25), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .3);
}

div.arrowDown {
  position: absolute;
  bottom: 3%;
  width: 100%;
}

.wrapper {
  min-height: 100% !important;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 30px;
}

@media (min-width: 1200px) {
  .section {
    padding: 0;
  }
}

.main section.landingPage {
  background: url('../img/backgrounds/bg_landing.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.main section.jobPage {
  background: url('../img/backgrounds/bg-presentation.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

/* .main section.landingPage .landingPage-content {
  height:100%;
} */

.main section.landingPage h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 30vw;
  line-height: .9;
  margin-top: -5vh;
  margin-bottom: 3vh;
}

@media (min-width: 768px) {
  .main section.landingPage h1 {
    font-size: 22vw;
  }
}

@media (min-width: 1200px) {
  .main section.landingPage h1 {
    font-size: 17vw;
  }
}

.main section.landingPage h2 {
  margin-top: 3%;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .75);
  font-family: 'lato', helvetica, arial, sans-serif;
  letter-spacing: .5rem;
  font-size: 6vw;
}

@media (min-width: 768px) {
  .main section.landingPage h2 {
    font-size: 4vw;
  }
}

@media (min-width: 1200px) {
  .main section.landingPage h2 {
    font-size: 2.3vw;
  }
}

.slick-slider {
  margin-bottom: 0;
  height: 100%;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  height: 100% !important;
}

.slick-slide img {
  display: inline-block;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -35px;
}

.slick-dots {
  bottom: 17%;
}

.slick-prev,
.slick-next {
  width: 26px;
  height: 26px;
}

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 26px;
  opacity: 1;
  color: rgba(0, 0, 0, 0.4);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main section.jobPage .page_container {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 80%;
  overflow: visible;
}

.work_showcase .slide-header h1.company-name {
  text-align: left;
  font-size: 170%;
  font-weight: 700;
}

.work_showcase .slide-header h2.employment-time {
  text-align: right;
  font-size: 150%;
}

.work_showcase .slide-header {
  background: rgb(255, 255, 255);
  -webkit-box-shadow: inset 0px -2px 6px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px -2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px -2px 6px -2px rgba(0, 0, 0, 0.1);
  height: 7.8%;
}

.work_showcase .slide-image {
  background: rgb(255, 255, 255);
  height: 74.6%;
}

.work_showcase .slide-caption {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: inset 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 2px 6px -2px rgba(0, 0, 0, 0.1);
  height: 17.7%;
  padding: 2% 3%;
}

.work_showcase .slide-caption h3 {
  font-size: 100%;
  font-weight: 700;
  text-align: left;
  margin-top: 0;
  margin-bottom: 6px;
}

.programs-icons {
  margin: 4px 0;
}

img.work_piece {
  max-height: 100%;
}

.main section.aboutPage {
  background: url('../img/backgrounds/bg_about.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media( min-width: 1200px) {
  .about {
    flex-direction: row;
    align-items: stretch;
    padding-top: 0;
  }
}

.aboutMe h1,
.proficiencies h1 {
  text-align: center;
  font-weight: 700;
}

@media (min-width: 1200px) {
  .aboutMe h1,
  .proficiencies h1 {
    text-align: left;
  }
}

.aboutMe h1 {
  margin-bottom: 5.5%;
}

.aboutMe__story {
  font-size: 18px;
}

@media (min-width: 1200px) {
  .aboutMe__story {
    font-size: 1.167vw;
    margin-bottom: 0;
  }
}

@media (min-width: 1600px) {
  .aboutMe__story {
    font-size: 1.1vw;
  }
}

.proficiencies {
  display: flex;
  flex-direction: column;
}

.proficiency-stats {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
}

.proficiency-stats__stat {
  list-style: none;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

@media (min-width:1200px) {
  .proficiency-stats__stat {
    margin: 0;
  }
}

.proficiency-stats__icon {
  width: 44px;
}

.proficiencies h1 {
  margin-bottom: 6.5%;
}

.proficiencies p span {
  font-size: 170%;
  font-weight: 700;
}

.proficiency-stats__bar {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.20);
  -moz-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.20);
  box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.20);
  padding: 3px;
  margin: 0 0 0 15px;
  height: 44px;
}

@media (min-width: 992px) {
  .proficiency-stats__bar {
    margin: 0 30px 0 15px;
  }
}

.proficiency-stats__bar div {
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: right;
  line-height: 22px;
  width: 0;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

.main section.footerPage {
  background: url('../img/backgrounds/bg_footer.jpg') no-repeat center;
  background-size: cover;
  height: 100%;
}

.main section.footerPage h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 14vw;
  margin-top: -5vh;
  margin-bottom: 3vh;
}

@media (min-width: 1200px) {
  .main section.footerPage h1 {
    font-size: 10vw;
  }
}

.icon-smiley {
  width: 18vw;
}

@media(min-width:768px) {
  .icon-smiley {
    width: 12vw;
  }
}

@media(min-width:1200px) {
  .icon-smiley {
    width: 10vw;
  }
}

.main section.footerPage img.doughnut {
  display: none;
  width: 22vw;
  position: absolute;
  right: 5%;
  bottom: 9vh;
}

@media (min-width: 992px) {
  .main section.footerPage img.doughnut {
    display: block;
  }
}

.footerCopyright {
  width: 100%;
  background-color: rgb(60, 60, 60);
  padding: 3px;
  position: absolute;
  bottom: 0;
}

.footerCopyright p {
  margin: 0;
  font-size: .75em;
  color: rgba(255, 255, 255, .3);
}

.footerCopyright a {
  color: rgba(255, 255, 255, .3);
}

.footerCopyright a:hover,
.footerCopyright a:focus {
  color: rgb(58, 138, 207);
}

.effect8 {
  -webkit-box-shadow: 14px 0px 10px -10px rgba(50, 50, 50, 0.10), -14px 0px 10px -10px rgba(50, 50, 50, 0.10);
  -moz-box-shadow: 14px 0px 10px -10px rgba(50, 50, 50, 0.10), -14px 0px 10px -10px rgba(50, 50, 50, 0.10);
  box-shadow: 14px 0px 10px -10px rgba(50, 50, 50, 0.10), -14px 0px 10px -10px rgba(50, 50, 50, 0.10);
}

div.jobPageHeading {
  height: 100%;
}

.headingVerticalAlign {
  margin-top: 0;
  margin-bottom: 0;
}

ul.programs-list>li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* this fix is needed for IE7- */
  margin: 0 3px 0 0;
}

ul.programs-list {
  float: left;
  margin: 0;
  padding: 0;
  max-width: 100%;
  margin-top: 4px;
}

.emailLink {
  color: rgba(0, 0, 0, 0.6);
}

.emailLink:hover,
.emailLink:focus {
  color: rgb(58, 138, 207);
}