.slideshow {
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.3s ease;
    perspective: 350px;
    perspective-origin: bottom left;
    --perspective-depth: 3px;
}

@supports (display: grid) {
    @media (min-width: 768px) {
        .slideshow {
            width: auto;
            display: grid;
            grid-template-areas: "header       header" "...          ..." "...          ..." "description  description ";
            grid-column-gap: 1vw;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (min-width: 1200px) {
        .slideshow {
            grid-template-areas: "header       header" "main-image   thumbnail-1" "main-image   thumbnail-2" "main-image   thumbnail-3" "main-image   thumbnail-4" "description  ...";
            grid-column-gap: 0.3vw;
            grid-template-rows: auto repeat(4, 1fr) min-content;
            grid-template-columns: minmax(680px, 57vw) minmax(104px, 13vw);
        }
    }
}

.slide-header {
    display: flex;
    align-items: baseline;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0.6vw;
    flex-direction: column;
}

@media (min-width: 768px) {
    .slide-header {
        flex-direction: row;
        justify-content: space-between;
    }
}

@supports (display: grid) {
    @media (min-width: 768px) {
        .slide-header {
            grid-area: header;
        }
    }
}

.slide-header__main {
    margin: 0;
    font-size: 3rem;
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 600;
    line-height: 52px;
    line-height: 3.25rem;
}

@media (min-width: 768px) {
    .slide-header__main {
        line-height: 3.9vw;
    }
}

@media (min-width: 1200px) {
    .slide-header__main {
        font-size: 4vw;
    }
}

@media (min-width: 1600px) {
    .slide-header__main {
        font-size: 3.2vw;
    }
}

.slide-header__sub {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.75rem;
    font-weight: 500;
}

@media (min-width: 768px) {
    .slide-header__sub {
        margin-left: 1.2vw;
    }
}

@media (min-width: 1200px) {
    .slide-header__sub {
        font-size: 2.33vw;
    }
}

@media (min-width: 1600px) {
    .slide-header__sub {
        font-size: 1.9vw;
    }
}

@supports (display: grid) {
    @media (min-width: 1200px) {
        .slide-header {
            grid-area: header;
            justify-content: flex-start;
        }
    }
}

.thumbnail-radio {
    display: none;
    position: absolute;
}

@supports (display: grid) {
    @media (min-width: 1200px) {
        .thumbnail-radio {
            display: unset;
            opacity: 0;
        }
        /* mapstudio */
        .thumbnail-radio#thumbnail-ms-1:checked~.thumbnail-1,
        .thumbnail-radio#thumbnail-ms-2:checked~.thumbnail-2,
        .thumbnail-radio#thumbnail-ms-3:checked~.thumbnail-3,
        .thumbnail-radio#thumbnail-ms-4:checked~.thumbnail-4,
        /* Compulutions */
        .thumbnail-radio#thumbnail-com-1:checked~.thumbnail-1,
        .thumbnail-radio#thumbnail-com-2:checked~.thumbnail-2,
        .thumbnail-radio#thumbnail-com-3:checked~.thumbnail-3,
        .thumbnail-radio#thumbnail-com-4:checked~.thumbnail-4,
        /* Yesman */
        .thumbnail-radio#thumbnail-ym-1:checked~.thumbnail-1,
        .thumbnail-radio#thumbnail-ym-2:checked~.thumbnail-2,
        .thumbnail-radio#thumbnail-ym-3:checked~.thumbnail-3,
        .thumbnail-radio#thumbnail-ym-4:checked~.thumbnail-4,
        /* Hillcrest Signs */
        .thumbnail-radio#thumbnail-hs-1:checked~.thumbnail-1,
        .thumbnail-radio#thumbnail-hs-2:checked~.thumbnail-2,
        .thumbnail-radio#thumbnail-hs-3:checked~.thumbnail-3,
        .thumbnail-radio#thumbnail-hs-4:checked~.thumbnail-4,
        /* Anupi */
        .thumbnail-radio#thumbnail-anu-1:checked~.thumbnail-1,
        .thumbnail-radio#thumbnail-anu-2:checked~.thumbnail-2,
        .thumbnail-radio#thumbnail-anu-3:checked~.thumbnail-3,
        .thumbnail-radio#thumbnail-anu-4:checked~.thumbnail-4 {
            transform: translateZ(var(--perspective-depth));
            box-shadow: -8px 4px 8px 2px rgba(0, 0, 0, .15);
            transform-origin: center left;
            transition: transform 200ms ease-out;
        }
        /* mapstudio */
        .thumbnail-radio#thumbnail-ms-1:checked~.thumbnail-1::before,
        .thumbnail-radio#thumbnail-ms-2:checked~.thumbnail-2::before,
        .thumbnail-radio#thumbnail-ms-3:checked~.thumbnail-3::before,
        .thumbnail-radio#thumbnail-ms-4:checked~.thumbnail-4::before,
        /* compulutions */
        .thumbnail-radio#thumbnail-com-1:checked~.thumbnail-1::before,
        .thumbnail-radio#thumbnail-com-2:checked~.thumbnail-2::before,
        .thumbnail-radio#thumbnail-com-3:checked~.thumbnail-3::before,
        .thumbnail-radio#thumbnail-com-4:checked~.thumbnail-4::before,
        /* Yesman */
        .thumbnail-radio#thumbnail-ym-1:checked~.thumbnail-1::before,
        .thumbnail-radio#thumbnail-ym-2:checked~.thumbnail-2::before,
        .thumbnail-radio#thumbnail-ym-3:checked~.thumbnail-3::before,
        .thumbnail-radio#thumbnail-ym-4:checked~.thumbnail-4::before,
        /* Hillcrest Signs */
        .thumbnail-radio#thumbnail-hs-1:checked~.thumbnail-1::before,
        .thumbnail-radio#thumbnail-hs-2:checked~.thumbnail-2::before,
        .thumbnail-radio#thumbnail-hs-3:checked~.thumbnail-3::before,
        .thumbnail-radio#thumbnail-hs-4:checked~.thumbnail-4::before,
        /* Anupi */
        .thumbnail-radio#thumbnail-anu-1:checked~.thumbnail-1::before,
        .thumbnail-radio#thumbnail-anu-2:checked~.thumbnail-2::before,
        .thumbnail-radio#thumbnail-anu-3:checked~.thumbnail-3::before,
        .thumbnail-radio#thumbnail-anu-4:checked~.thumbnail-4::before {
            transform: translateZ(var(--perspective-depth));
            opacity: 0.5;
        }
        /* mapstudio */
        .thumbnail-radio#thumbnail-ms-1:checked~#main-ms-1,
        .thumbnail-radio#thumbnail-ms-2:checked~#main-ms-2,
        .thumbnail-radio#thumbnail-ms-3:checked~#main-ms-3,
        .thumbnail-radio#thumbnail-ms-4:checked~#main-ms-4,
        /* compulutions */
        .thumbnail-radio#thumbnail-com-1:checked~#main-com-1,
        .thumbnail-radio#thumbnail-com-2:checked~#main-com-2,
        .thumbnail-radio#thumbnail-com-3:checked~#main-com-3,
        .thumbnail-radio#thumbnail-com-4:checked~#main-com-4,
        /* yesman */
        .thumbnail-radio#thumbnail-ym-1:checked~#main-ym-1,
        .thumbnail-radio#thumbnail-ym-2:checked~#main-ym-2,
        .thumbnail-radio#thumbnail-ym-3:checked~#main-ym-3,
        .thumbnail-radio#thumbnail-ym-4:checked~#main-ym-4,
        /* hillcrest signs */
        .thumbnail-radio#thumbnail-hs-1:checked~#main-hs-1,
        .thumbnail-radio#thumbnail-hs-2:checked~#main-hs-2,
        .thumbnail-radio#thumbnail-hs-3:checked~#main-hs-3,
        .thumbnail-radio#thumbnail-hs-4:checked~#main-hs-4,
        /* anupi */
        .thumbnail-radio#thumbnail-anu-1:checked~#main-anu-1,
        .thumbnail-radio#thumbnail-anu-2:checked~#main-anu-2,
        .thumbnail-radio#thumbnail-anu-3:checked~#main-anu-3,
        .thumbnail-radio#thumbnail-anu-4:checked~#main-anu-4 {
            display: block;
            box-shadow: 6px 4px 8px 0px rgba(0, 0, 0, .13);
            animation-name: main-image;
            animation-duration: 500ms;
            animation-direction: normal;
            animation-timing-function: ease-out;
            animation-fill-mode: forwards;
        }
    }
}


@keyframes main-image {
    0% {
        opacity: 0.5;
        transform: translate3d(0, 0, 0);
    }
    30% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, var(--perspective-depth));
    }
}

.thumbnail {
    display: none;
    position: relative;
    margin-bottom: 0.3vw;
    background-image: url(http://via.placeholder.com/210x150);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    color: transparent;
}

@supports (display: grid) {
    @media (min-width: 1200px) {
        .thumbnail {
            display: block;
        }
        .thumbnail-1 {
            grid-area: thumbnail-1;
        }
        .thumbnail-2 {
            grid-area: thumbnail-2;
        }
        .thumbnail-3 {
            grid-area: thumbnail-3;
        }
        .thumbnail-4 {
            grid-area: thumbnail-4;
        }
    }
}

/* direction hover: https://codepen.io/FWeinb/pen/GrpqB */

.direction-hover {
    position: relative;
    overflow: hidden;
}

.direction-hover__right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: inherit;
    transition: transform 300ms ease-out;
    background-color: white;
    opacity: 0.8;
    transform: translateX(100%);
}

.direction-hover__right:before {
    position: absolute;
    content: "";
    width: 42.71%;
    height: 70.71%;
    transform: rotate(45deg);
}

.direction-hover__right:after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 4px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    transition: transform 450ms ease-out;
}

@media (min-width: 1200px) {
    .direction-hover__right:after {
        font-size: 1.167vw;
    }
}

@media (min-width: 1600px) {
    .direction-hover__right:after {
        font-size: 0.95vw;
    }
}

.direction-hover__right:hover {
    transform: translateX(0);
    z-index: 1
}

.direction-hover__right:hover:after {
    transform: translateX(0);
}

.direction-hover__right:hover:before {
    width: 100%;
    height: 100%;
    transform: none;
}

.direction-hover__right:before {
    width: 42.71%;
    height: 70.71%;
}

.direction-hover__right:before {
    right: 100%;
    bottom: 0;
    transform-origin: 100% 100%;
}

.direction-hover__right:after {
    content: attr(data-label);
    transform: translateX(100%);
}

.direction-hover__left {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: inherit;
    transition: transform 300ms ease-out;
    background-color: white;
    opacity: 0.8;
    transform: translateX(-100%);
}

.direction-hover__left:before {
    position: absolute;
    content: "";
    width: 42.71%;
    height: 70.71%;
    transform: rotate(45deg);
}

.direction-hover__left:after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 4px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    transition: transform 450ms ease-out;
}

@media (min-width: 1200px) {
    .direction-hover__left:after {
        font-size: 1.167vw;
    }
}

@media (min-width: 1600px) {
    .direction-hover__left:after {
        font-size: 0.95vw;
    }
}

.direction-hover__left:hover {
    transform: translateX(0);
    z-index: 1
}

.direction-hover__left:hover:after {
    transform: translateX(0);
}

.direction-hover__left:hover:before {
    width: 100%;
    height: 100%;
    transform: none;
}

.direction-hover__left:before {
    width: 42.71%;
    height: 70.71%;
}

.direction-hover__left:before {
    left: 100%;
    transform-origin: 0 0;
}

.direction-hover__left:after {
    content: attr(data-label);
    transform: translateX(-100%);
}

.direction-hover__top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: inherit;
    transition: transform 300ms ease-out;
    background-color: white;
    opacity: 0.8;
    transform: translateY(-100%);
}

.direction-hover__top:before {
    position: absolute;
    content: "";
    width: 42.71%;
    height: 70.71%;
    transform: rotate(45deg);
}

.direction-hover__top:after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 4px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    transition: transform 450ms ease-out;
}

@media (min-width: 1200px) {
    .direction-hover__top:after {
        font-size: 1.167vw;
    }
}

@media (min-width: 1600px) {
    .direction-hover__top:after {
        font-size: 0.95vw;
    }
}

.direction-hover__top:hover {
    transform: translateX(0);
    z-index: 1
}

.direction-hover__top:hover:after {
    transform: translateX(0);
}

.direction-hover__top:hover:before {
    width: 100%;
    height: 100%;
    transform: none;
}

.direction-hover__top:before {
    width: 70.5%;
    height: 117.5%;
}

.direction-hover__top:before {
    top: 100%;
    right: 0;
    transform-origin: 100% 0;
}

.direction-hover__top:after {
    content: attr(data-label);
    transform: translateY(-100%);
}

.direction-hover__bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: inherit;
    transition: transform 300ms ease-out;
    background-color: white;
    opacity: 0.8;
    transform: translateY(100%);
}

.direction-hover__bottom:before {
    position: absolute;
    content: "";
    width: 42.71%;
    height: 70.71%;
    transform: rotate(45deg);
}

.direction-hover__bottom:after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-bottom: 4px;
    font-size: 0.875rem;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 600;
    transition: transform 450ms ease-out;
}

@media (min-width: 1200px) {
    .direction-hover__bottom:after {
        font-size: 1.167vw;
    }
}

@media (min-width: 1600px) {
    .direction-hover__bottom:after {
        font-size: 0.95vw;
    }
}

.direction-hover__bottom:hover {
    transform: translateX(0);
    z-index: 1
}

.direction-hover__bottom:hover:after {
    transform: translateX(0);
}

.direction-hover__bottom:hover:before {
    width: 100%;
    height: 100%;
    transform: none;
}

.direction-hover__bottom:before {
    width: 70.5%;
    height: 117.5%;
}

.direction-hover__bottom:before {
    bottom: 100%;
    left: 0;
    transform-origin: 0 100%;
}

.direction-hover__bottom:after {
    content: attr(data-label);
    transform: translateY(100%);
}

.main-image {
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
    pointer-events: none;
    order: 1;
    margin-bottom: 1.5vw;
}

@supports (display: grid) {
    @media (min-width: 1200px) {
        .main-image {
            grid-area: main-image;
            margin-bottom: 0;
        }
    }
    @media (min-width: 1200px) {
        /* mapstudio */
        #main-ms-1,
        #main-ms-2,
        #main-ms-3,
        #main-ms-4,
        /* compulutions */
        #main-com-1,
        #main-com-2,
        #main-com-3,
        #main-com-4,
        /* yesman */
        #main-ym-1,
        #main-ym-2,
        #main-ym-3,
        #main-ym-4,
        /* hillcrest signs */
        #main-hs-1,
        #main-hs-2,
        #main-hs-3,
        #main-hs-4,
        /* anupi */
        #main-anu-1,
        #main-anu-2,
        #main-anu-3,
        #main-anu-4 {
            display: none;
        }
    }
}

.description {
    display: none;
}

@media (min-width: 768px) {
    .description {
        display: block;
        margin-bottom: 0.6vw;
    }
}

@supports (display: grid) {
    @media (min-width: 992px) {
        .description {
            grid-area: description;
        }
    }
}

.description {
    overflow: hidden;
}

.description__slide {
    font-size: 0.875rem;
}

@media (min-width: 1200px) {
    .description__slide {
        font-size: 1.167vw;
    }
}

@media (min-width: 1600px) {
    .description__slide {
        font-size: 0.95vw;
    }
}

.description.is-active .description__slide {
    transition: transform 300ms ease-in;
    transform: translateY(0);
    transition-delay: 700ms;
}

.description.is-active .description__slide-button {
    transition: transform 300ms ease-in;
    transform: translateY(0);
    transition-delay: 700ms;
}

@supports (display: grid) {
    @media (min-width: 768px) {
        .description {
            grid-area: description;
        }
    }
    @media (min-width: 1200px) {
        .description {
            margin-top: 0.6vw;
            margin-bottom: 0;
        }
    }
}